<AXK xmlns="ananas:axk:base" xmlns:kit1="ananas:axk:ex:kit1">
	<Connection>
		<FilterList>

			<Local />
			<kit1:Terminal>
				<Import url="resource:///ananas/axk2/terminal/commands.xml" />
			</kit1:Terminal>
			<kit1:Monitor />

			<Switch>
				<Case namespace="jabber:client">
					<FilterList>
						<kit1:MessageManager />
						<kit1:PresenceManager />
						<kit1:RosterManager />
					</FilterList>
				</Case>

				<Case namespace="x:y:z">
					<FilterLoader class="x.y.z" />
				</Case>

			</Switch>

			<kit1:ContactManager />

			<Engine />
			<Remote />

		</FilterList>
	</Connection>
</AXK>
